.header {
display: flex;
height: 57px;
border-bottom: 1px solid #dedede;
margin-bottom: 20px;
justify-content: space-between;
align-items: center;
position: fixed;
top: 0;
left: 0;
right: 0;
background-color: white;
z-index: 100;
}

.left-section {
    display: flex;
    align-items: center;
    margin-left: 80px;
}

.middle-section {
    display: flex;
    align-items: center;
    flex: 1;
    max-width: 470px;
    margin-left: 200px;
}

.search-bar {
    display: flex;
    align-items: center;
    max-width: 300px;
  }

  .search-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }

  .search-button {
    margin-left: 8px;
    padding: 8px;
    background-color: #d0d4d0;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }

  .search-button:hover {
    background-color:  #e4e7e4a7;
  }

.right-section {
    display: flex;
    align-items: center;
    width: 182px;
    justify-content: space-between;
    margin-right: 24px;
    margin-left: 29px;
    flex-shrink: 0;
}
  
  .login-button,
  .signup-button {
    margin-right: 5px; /* Adjust the value as needed */
  padding: 10px 20px; /* Adjust the padding values as needed */
  }